.root {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding-bottom: 2rem;
}

.pdf {
  display: block;
  margin: auto;
  width: 620px;
  height: 877px;
}
